// .feed-commentlist {

//     .feed-comments{
//     padding-bottom: 3px;

//         .comment-name{
//         font-weight: bold;
//         padding-right: 5px;
//         }
//     }
// }

.new_comment{
    padding-bottom: 2px;
    .bold{
        padding-right: 8px;
        font-weight: bold;
    }
}